In [27]:
import sys
sys.path.append("../../")

In [28]:
from multi_tp.models_ids import *
from multi_tp.utils import get_model_name_path, get_suffix, LANGUAGES, performance_file_v2_tmpl, pivot_file_tmpl, cache_parse_responses_tmpl, cache_responses_tmpl, dataset_file_tmpl
import os
import pandas as pd
system_role = "normal"
translator_provider_forward = "google"
translator_provider_backward = "google"
analysis_backend_model_version = "meta-llama/Meta-Llama-3.1-8B-Instruct"
add_paraphrase = False
country = None


dataset = dataset_file_tmpl.format( lang="en",
            suffix=get_suffix(add_paraphrase, country),
            translator_provider_forward=translator_provider_forward)
df = pd.read_csv("../../"+dataset)
df

,pas,ped,prompt_en,two_choices,two_choices_unordered_set,two_choices_for_response_parsing,which_paraphrase,Prompt,paraphrase_choice,phenomenon_category,group1,group2,sub1,sub2
0,{'Dog': 5},{'Person': 5},Assume there is a self-driving car with a sudd...,5 dogs; 5 people,5 dogs; 5 people,"['five dogs', 'five people']",0,Assume there is a self-driving car with a sudd...,"first Animals, then Humans",Species,"['Dog', 'Dog', 'Dog', 'Dog', 'Dog']","['Person', 'Person', 'Person', 'Person', 'Pers...",Animals,Humans
1,{'Person': 5},{'Dog': 5},Assume there is a self-driving car with a sudd...,5 people; 5 dogs,5 dogs; 5 people,"['five people', 'five dogs']",0,Assume there is a self-driving car with a sudd...,"first Humans, then Animals",Species,"['Person', 'Person', 'Person', 'Person', 'Pers...","['Dog', 'Dog', 'Dog', 'Dog', 'Dog']",Humans,Animals
2,{'Dog': 1},{'Person': 1},Assume there is a self-driving car with a sudd...,a dog; a person,a dog; a person,"['a dog', 'a person']",0,Assume there is a self-driving car with a sudd...,"first Animals, then Humans",Species,['Dog'],['Person'],Animals,Humans
3,{'Person': 1},{'Dog': 1},Assume there is a self-driving car with a sudd...,a person; a dog,a dog; a person,"['a person', 'a dog']",0,Assume there is a self-driving car with a sudd...,"first Humans, then Animals",Species,['Person'],['Dog'],Humans,Animals
4,{'Dog': 4},{'Person': 4},Assume there is a self-driving car with a sudd...,4 dogs; 4 people,4 dogs; 4 people,"['four dogs', 'four people']",0,Assume there is a self-driving car with a sudd...,"first Animals, then Humans",Species,"['Dog', 'Dog', 'Dog', 'Dog']","['Person', 'Person', 'Person', 'Person']",Animals,Humans
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455,{'Pregnant': 5},{'LargeWoman': 5},Assume there is a self-driving car with a sudd...,5 pregnant women; 5 large women,5 large women; 5 pregnant women,"['five pregnant women', 'five large women']",0,Assume there is a self-driving car with a sudd...,"first More, then Less",Utilitarianism,"['Pregnant', 'Pregnant', 'Pregnant', 'Pregnant...","['LargeWoman', 'LargeWoman', 'LargeWoman', 'La...",More,Less
456,{'LargeWoman': 3},{'Pregnant': 3},Assume there is a self-driving car with a sudd...,3 large women; 3 pregnant women,3 large women; 3 pregnant women,"['three large women', 'three pregnant women']",0,Assume there is a self-driving car with a sudd...,"first Less, then More",Utilitarianism,"['LargeWoman', 'LargeWoman', 'LargeWoman']","['Pregnant', 'Pregnant', 'Pregnant']",Less,More
457,{'Pregnant': 3},{'LargeWoman': 3},Assume there is a self-driving car with a sudd...,3 pregnant women; 3 large women,3 large women; 3 pregnant women,"['three pregnant women', 'three large women']",0,Assume there is a self-driving car with a sudd...,"first More, then Less",Utilitarianism,"['Pregnant', 'Pregnant', 'Pregnant']","['LargeWoman', 'LargeWoman', 'LargeWoman']",More,Less
458,{'LargeWoman': 2},{'Pregnant': 2},Assume there is a self-driving car with a sudd...,2 large women; 2 pregnant women,2 large women; 2 pregnant women,"['two large women', 'two pregnant women']",0,Assume there is a self-driving car with a sudd...,"first Less, then More",Utilitarianism,"['LargeWoman', 'LargeWoman']","['Pregnant', 'Pregnant']",Less,More
459,{'Pregnant': 2},{'LargeWoman': 2},Assume there is a self-driving car with a sudd...,2 pregnant women; 2 large women,2 large women; 2 pregnant women,"['two pregnant women', 'two large women']",0,Assume there is a self-driving car with a sudd...,"first More, then Less",Utilitarianism,"['Pregnant', 'Pregnant']","['LargeWoman', 'LargeWoman']",More,Less

In [29]:
df.phenomenon_category.value_counts()

phenomenon_category
SocialValue       210
Gender             70
Age                60
Fitness            60
Utilitarianism     40
Species            20
Name: count, dtype: int64

In [30]:
in_path = cache_parse_responses_tmpl.format(
            model_version=get_model_name_path(LLAMA_3_1_8B),
            system_role=system_role,
            lang="en",
            suffix=get_suffix(add_paraphrase, country),
            translator_provider_forward=translator_provider_forward,
            translator_provider_backward=translator_provider_backward,
            analysis_backend_model_version=get_model_name_path(
                analysis_backend_model_version
            ),
        )
df = pd.read_csv("../../"+in_path)
df

,Prompt,prompt_en,two_choices,two_choices_unordered_set,which_paraphrase,paraphrase_choice,phenomenon_category,this_how_many_more_chars,this_row_is_about_left_or_right,this_group_name,...,FemaleDoctor,ElderlyWoman,ElderlyMan,Girl,Boy,LargeWoman,LargeMan,FemaleAthlete,MaleAthlete,Pregnant
0,Assume there is a self-driving car with a sudd...,Assume there is a self-driving car with a sudd...,5 dogs; 5 people,5 dogs; 5 people,0,"first Animals, then Humans",Species,0,0,Animals,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Assume there is a self-driving car with a sudd...,Assume there is a self-driving car with a sudd...,5 dogs; 5 people,5 dogs; 5 people,0,"first Animals, then Humans",Species,0,1,Humans,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Assume there is a self-driving car with a sudd...,Assume there is a self-driving car with a sudd...,5 people; 5 dogs,5 dogs; 5 people,0,"first Humans, then Animals",Species,0,0,Humans,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Assume there is a self-driving car with a sudd...,Assume there is a self-driving car with a sudd...,5 people; 5 dogs,5 dogs; 5 people,0,"first Humans, then Animals",Species,0,1,Animals,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Assume there is a self-driving car with a sudd...,Assume there is a self-driving car with a sudd...,a dog; a person,a dog; a person,0,"first Animals, then Humans",Species,0,0,Animals,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,Assume there is a self-driving car with a sudd...,Assume there is a self-driving car with a sudd...,3 pregnant women; 3 large women,3 large women; 3 pregnant women,0,"first More, then Less",Utilitarianism,0,1,Less,...,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN
916,Assume there is a self-driving car with a sudd...,Assume there is a self-driving car with a sudd...,2 large women; 2 pregnant women,2 large women; 2 pregnant women,0,"first Less, then More",Utilitarianism,0,0,Less,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
917,Assume there is a self-driving car with a sudd...,Assume there is a self-driving car with a sudd...,2 large women; 2 pregnant women,2 large women; 2 pregnant women,0,"first Less, then More",Utilitarianism,0,1,More,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
918,Assume there is a self-driving car with a sudd...,Assume there is a self-driving car with a sudd...,2 pregnant women; 2 large women,2 large women; 2 pregnant women,0,"first More, then Less",Utilitarianism,0,0,More,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
919,Assume there is a self-driving car with a sudd...,Assume there is a self-driving car with a sudd...,2 pregnant women; 2 large women,2 large women; 2 pregnant women,0,"first More, then Less",Utilitarianism,0,1,Less,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN

In [43]:
import pandas as pd
import numpy as np
from collections import Counter
import re
import os

def calculate_statistics(df, column_name):
    # Function to split text into sentences
    def split_sentences(text):
        return re.split(r'[.!?]+', text)
    
    # Function to split text into words
    def split_words(text):
        # if language == "zh":
        #     return jieba.lcut(text)
        return re.findall(r'\w+', text.lower())
    
    # Calculate statistics
    num_samples = len(df)
    sentences_per_sample = df[column_name].apply(lambda x: len(split_sentences(x))).mean()
    words_per_sample = df[column_name].apply(lambda x: len(split_words(x))).mean()
    
    all_words = [word for text in df[column_name] for word in split_words(text)]
    unique_words = len(set(all_words))
    total_words = len(all_words)
    type_token_ratio = unique_words / total_words if total_words > 0 else 0
    
    return {
        "# Samples": num_samples,
        "# Sentences/Sample": round(sentences_per_sample, 2),
        "# Words/Sample": round(words_per_sample, 2),
        "# Unique Words": unique_words,
        "Type-Token Ratio":type_token_ratio # round(type_token_ratio, 4)
    }


# Configuration
base_path = "../.."
system_role = "normal"
translator_provider_forward = "google"
translator_provider_backward = "google"
analysis_backend_model_version = "meta-llama/Meta-Llama-3.1-8B-Instruct"
add_paraphrase = False
country = None

# Function to get suffix (assuming it's defined somewhere in your project)
def get_suffix(add_paraphrase, country):
    # This is a placeholder. Replace with your actual implementation
    return ""
results = {}
from multi_tp.utils import LANGUAGES
# Calculate overall statistics
all_data = pd.concat([pd.read_csv(os.path.join(base_path, cache_parse_responses_tmpl.format(
        model_version=get_model_name_path(LLAMA_3_1_8B),
        system_role=system_role,
        lang=lang,
        suffix="",
        translator_provider_forward=translator_provider_forward,
        translator_provider_backward=translator_provider_backward,
        analysis_backend_model_version=get_model_name_path(analysis_backend_model_version)
    ))) for lang in LANGUAGES])

overall_stats = calculate_statistics(all_data, "Prompt")
results["Overall Dataset"] = overall_stats


# Calculate statistics for each language
languages = ["en", "de", "zh-cn", "sw"]




for lang in languages:
    file_path = os.path.join(base_path, cache_parse_responses_tmpl.format(
        model_version=get_model_name_path(LLAMA_3_1_8B),
        system_role=system_role,
        lang=lang,
        suffix="",
        translator_provider_forward=translator_provider_forward,
        translator_provider_backward=translator_provider_backward,
        analysis_backend_model_version=get_model_name_path(analysis_backend_model_version)
    ))
    df = pd.read_csv(file_path)
    results[lang] = calculate_statistics(df, "Prompt")



# Create a DataFrame from the results
result_df = pd.DataFrame(results)

# Print the results in a format suitable for LaTeX table
print(result_df.to_latex(float_format="%.4f"))

\begin{tabular}{lrrrrr}
\toprule
 & Overall Dataset & en & de & zh-cn & sw \\
\midrule
# Samples & 98440.0000 & 920.0000 & 920.0000 & 920.0000 & 920.0000 \\
# Sentences/Sample & 1.0300 & 1.0000 & 1.0000 & 1.0000 & 1.0000 \\
# Words/Sample & 46.8200 & 46.9800 & 41.6500 & 6.0000 & 38.4600 \\
# Unique Words & 6625.0000 & 61.0000 & 71.0000 & 109.0000 & 70.0000 \\
Type-Token Ratio & 0.0014 & 0.0014 & 0.0019 & 0.0197 & 0.0020 \\
\bottomrule
\end{tabular}

In [49]:
import pandas as pd
import numpy as np
import regex
import os
import unicodedata
from collections import Counter

LANGUAGES = [
    "af", "am", "ar", "az", "be", "bg", "bn", "bs", "ca", "ceb", "co", "cs", "cy", "da", "de", "el", "en", "eo", "es", "et", "eu", "fa", "fi", "fr", "fy", "ga", "gd", "gl", "gu", "ha", "haw", "he", "hi", "hmn", "hr", "ht", "hu", "hy", "id", "ig", "is", "it", "iw", "ja", "jw", "ka", "kk", "km", "kn", "ko", "ku", "ky", "la", "lb", "lo", "lt", "lv", "mg", "mi", "mk", "ml", "mn", "mr", "ms", "mt", "my", "ne", "nl", "no", "ny", "or", "pa", "pl", "ps", "pt", "ro", "ru", "sd", "si", "sk", "sl", "sm", "sn", "so", "sq", "sr", "st", "su", "sv", "sw", "ta", "te", "tg", "th", "tl", "tr", "ug", "uk", "ur", "uz", "vi", "xh", "yi", "yo", "zh-cn", "zh-tw", "zu"
]

def split_sentences(text):
    """Split text into sentences using a regex that works for multiple languages"""
    return regex.split(r'(?<=[.!?])\s+(?=[A-Z\p{Lu}])', text)

def split_words(text, lang):
    """Split text into words, handling different writing systems"""
    if lang in ['zh-cn', 'zh-tw', 'ja', 'ko', 'th']:
        # For languages without clear word boundaries, treat each character as a word
        return [char for char in text if not char.isspace()]
    else:
        # For other languages, use a regex that works for most writing systems
        return regex.findall(r'\p{L}+', text)

def calculate_statistics(df, column_name, lang):
    num_samples = len(df)
    sentences_per_sample = df[column_name].apply(lambda x: len(split_sentences(x))).mean()
    words_per_sample = df[column_name].apply(lambda x: len(split_words(x, lang))).mean()
    
    all_words = [word for text in df[column_name] for word in split_words(text, lang)]
    unique_words = len(set(all_words))
    total_words = len(all_words)
    type_token_ratio = unique_words / total_words if total_words > 0 else 0
    
    return {
        "# Samples": num_samples,
        "# Sentences/Sample": round(sentences_per_sample, 2),
        "# Words/Sample": round(words_per_sample, 2),
        "# Unique Words": unique_words,
        "Type-Token Ratio": round(type_token_ratio, 4)
    }



def get_suffix(add_paraphrase, country):
    # This is a placeholder. Replace with your actual implementation
    return ""

# Calculate statistics for each language
results = {}
all_data_stats = {
    "# Samples": 0,
    "# Sentences": 0,
    "# Words": 0,
    "# Unique Words": set()
}

for lang in LANGUAGES:
    file_path = os.path.join(base_path, cache_parse_responses_tmpl.format(
        model_version=get_model_name_path(LLAMA_3_1_8B),
        system_role=system_role,
        lang=lang,
        suffix="",
        translator_provider_forward=translator_provider_forward,
        translator_provider_backward=translator_provider_backward,
        analysis_backend_model_version=get_model_name_path(analysis_backend_model_version)
    ))
    df = pd.read_csv(file_path)
    results[lang] = calculate_statistics(df, "Prompt", lang)
    
    # Accumulate stats for overall calculation
    all_data_stats["# Samples"] += results[lang]["# Samples"]
    all_data_stats["# Sentences"] += results[lang]["# Samples"] * results[lang]["# Sentences/Sample"]
    all_data_stats["# Words"] += results[lang]["# Samples"] * results[lang]["# Words/Sample"]
    all_data_stats["# Unique Words"].update(word for text in df["Prompt"] for word in split_words(text, lang))

# Calculate overall statistics
total_samples = all_data_stats["# Samples"]
overall_stats = {
    "# Samples": total_samples,
    "# Sentences/Sample": round(all_data_stats["# Sentences"] / total_samples, 2),
    "# Words/Sample": round(all_data_stats["# Words"] / total_samples, 2),
    "# Unique Words": len(all_data_stats["# Unique Words"]),
    "Type-Token Ratio": round(len(all_data_stats["# Unique Words"]) / all_data_stats["# Words"], 4)
}

results["Overall Dataset"] = overall_stats

# Create a DataFrame from the results
result_df = pd.DataFrame(results).T
result_df = result_df.loc[["Overall Dataset", "en", "de", "zh-cn", "sw"]].T

# Print the results in a format suitable for LaTeX table
print(result_df.to_latex(float_format="%.4f"))

\begin{tabular}{lrrrrr}
\toprule
 & Overall Dataset & en & de & zh-cn & sw \\
\midrule
# Samples & 98440.0000 & 920.0000 & 920.0000 & 920.0000 & 920.0000 \\
# Sentences/Sample & 1.0000 & 1.0000 & 1.0000 & 1.0000 & 1.0000 \\
# Words/Sample & 51.0700 & 46.9800 & 41.6500 & 78.3100 & 38.4600 \\
# Unique Words & 6492.0000 & 61.0000 & 71.0000 & 87.0000 & 70.0000 \\
Type-Token Ratio & 0.0013 & 0.0014 & 0.0019 & 0.0012 & 0.0020 \\
\bottomrule
\end{tabular}

,# Samples,# Sentences/Sample,# Words/Sample,# Unique Words,Type-Token Ratio
Overall Dataset,98440.0,1.0,51.07,6492.0,0.0013
en,920.0,1.0,46.98,61.0,0.0014
de,920.0,1.0,41.65,71.0,0.0019
zh-cn,920.0,1.0,78.31,87.0,0.0012
sw,920.0,1.0,38.46,70.0,0.0020

In [ ]:
result_df